/* CSS NAVBAR */

#logomanoir {
  width: 60%;
  margin-left: 1em;
}

#iconesReseau {
  margin-right: 2em;
}

#iconesReseau li {
  list-style-type: none;
}

#iconesReseau i {
  font-size: 1.3em;
  color: rgba(14, 12, 12, 0.651);
  margin-left: 1em;
}

#tel {
  margin-left: -20em;
  margin-right: 1.5em;
}

#tel a {
  text-decoration: none;
  color: rgba(14, 12, 12, 0.651);
}

#tel a:hover {
  text-decoration: underline;
  color: black;
}

#tel i {
  font-size: 0.9em;
}

#buttonDeco {
  background-color: rgb(32, 31, 31);
  color: white;
  border: none;
  margin-left: 2em;
}

/* CAROUSEL */

#img1,
#img2,
#img3 {
  width: 100%;
  height: 40em;
}

/* CSS SECTION USER */

#user {
  width: 100%;
  min-height: 30vh;
  background-color: rgba(165, 157, 157, 0.767);
  padding-bottom: 1em;
}

#welcomeUser h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
}

#welcomeUser p,
#welcomeUser h1 {
  text-align: center;
  padding-top: 0.5em;
  line-height: 1em;
}

#welcomeUser p {
  font-family: "Montserrat", sans-serif;
}

#buttonsSocial {
  margin: 2em 0 1em 34em;
}

#buttonsSocial button {
  margin-right: 1em;
}

#titleUserIndex {
  font-family: "Great Vibes", cursive;
  color: black;
  text-align: center;
}

/* CSS PRESENTATION MANOIR */

#food {
  width: 40%;
}

#presentManoir {
  display: flex;
  flex-direction: row;
  justify-content: normal;
}

#textmanor {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0 1em;
}

#textmanor p {
  font-family: "Montserrat", sans-serif;
}

#textmanor h3 {
  color: rgba(14, 12, 12, 0.651);
}

/* CSS CARD CONTACT */

#cardContact {
  width: 100%;
  height: 20em;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5em 6em 0 6em;
}

.card,
.card1 {
  height: 10em;
  background-color: black;
  border: solid white 1px;
}

.card i {
  color: white;
  font-size: 2em;
  margin-left: 3.5em;
  padding-top: 0.2em;
}

.card1 i {
  color: white;
  font-size: 2em;
  margin-left: 3.5em;
  padding-top: 0.4em;
}

.card-body h6 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

.card-text {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

/* CSS FOOTER */

#logomanoir2 {
  width: 30%;
  margin-left: 1em;
}

/* CSS INSCRIPTION */

#mainInscription {
  background-image: url("../images/manoirnight.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

#inscription {
  width: 30%;
  background-color: rgba(14, 12, 12, 0.651);
  border-radius: 5px;
  margin-left: 3em;
  padding-left: 3em;
}

#inscription input {
  background-color: rgba(14, 12, 12, 0.651);
  color: white;
  width: 80%;
}

#form {
  padding-top: 6em;
}

.otherLegend {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  padding-top: 1em;
}

#inscription label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

#buttonSub {
  background-color: white;
  color: black;
  border: white solid 1px;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* CSS CONNEXION */

#mainConnexion {
  background-image: url("../images/manoirconnexion.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/* CSS PROFIL */

#mainProfil {
  background-image: url("../images/manoirprofil.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
}

#form2 {
  padding-top: 5em;
}

#titleUser {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 2em;
}

#legendProfil {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

/* CSS FORMULAIRE RESERVATION */

#inscriptionReser {
  width: 50%;
  background-color: rgba(14, 12, 12, 0.651);
  border-radius: 5px;
  margin-left: 3em;
  padding-left: 3em;
}

#inscriptionReser input {
  background-color: rgba(14, 12, 12, 0.651);
  color: white;
  width: 80%;
  border: white 1px solid;
}

#inscriptionReser label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

#inscriptionReser select {
  background-color: rgba(14, 12, 12, 0.651);
  color: white;
}

#mainReservation {
  background-image: url("../images/manoirreservation.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/* CSS PLANNING */

#mainPlanning {
  padding-bottom: 2em;
  padding-top: 1em;
  background-color: #a37244;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23302d34' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.calendar__table {
  width: 90%;
  height: calc(100vh - 128px);
  background-color: white;
  margin: auto;
  border-radius: 15px;
}

.calendar__table td {
  border-right: solid #302d34 1px;
  border-top: solid #302d34 1px;
  padding: 10px;
  vertical-align: top;
  width: 10%;
  height: 20%;
}

.calendar__head th {
  border-right: solid #302d34 1px;
  padding: 1em;
}

#titreMois {
  background-color: white;
  width: 40%;
  margin: auto;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  line-height: 3em;
  border-radius: 15px;
}

#titreMois h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

.title {
  background-color: rgb(32, 31, 31);
  color: white;
  padding: 3px 5em 3px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

#but {
  margin: 5px;
  padding: 1px;
}
